.powered-by-col {
  line-height: 200%;
  padding-left: 2% !important;
}

.powered-by-col > p {
  line-height: 100%;
}

.media-col {
  max-height: 100%;
  padding-left: 0 !important;
}

.media-size {
  max-height: inherit;
}
